* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* TOP SECTION */
.top {
  background-color: peachpuff;
  color: white;
  height: auto;
  width: 100%;
  background-image: url("./images/background1.jpeg");
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav {
  border: 1px solid black;
  background-color: #e5e7eb;
  height: 70px;
  padding: 5px 10px;
}
ul {
  margin: 0;
  padding: 0;
}
.nav > ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

a:hover {
  background-color: green;
  color: white;
}

.title {
  text-align: center;
}

.brandLogo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
/* BOTTOM SECTION */

.bottom {
  margin: 50px 50px 50px 0;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.article {
  width: 50%;
}

.carousel {
  height: 300px;
  width: 300px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: transparent;
}
