* {
  box-sizing: border-box;
}
.container {
  width: 100vw;
}

.top {
  background-color: peachpuff;
  color: white;
  height: 300px;
  /* background-image: url("./images/background.jpeg");
  opacity: 1;  */
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr); */

  /* gap: 10px; */
  text-align: center;
  background-image: url("./images/background.jpeg");
  background-size: cover;
}
header {
  display: flex;
  justify-content: center;
}
/* nav {
  border: 1px solid yellow;
  height: 50px;
  margin-top: 25px;
} */
.logo {
}
.nav {
  padding: 10px;
  border: 1px solid black;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 100px;
}
nav {
  font-size: 20px;
  background-color: skyblue;
}
nav > a {
  margin: 10px;
  color: white;
}

a:hover {
  background-color: green;
  color: white;
}
.section {
  grid-column: 2/4;
  grid-row: 2/3;
}
.bottom {
  background-color: green;
}

.brandLogo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
/* BOTTOM SECTION */

.bottom {
  margin-top: 50px;
  display: flex;
  padding: 20px;
  justify-content: center;
}
.article {
  width: 50%;
}
.articleImage {
  /* width: 50%; */
}
